<!-- <div class="row"> -->
    <!-- <div class="col-md-2"> -->
        <h5> Select Day </h5>
        <div class="list">
            <a class="list-group-item list-group-item-action" [class.active]="activeDaySelection === i" *ngFor="let item of days; let i = index" (click)="daysListClick(item[i])" > {{ item }} </a>
        </div>
    <!-- </div> -->
<!-- </div> -->






























<!-- <ul class="list-group">
    <li class="list-group-item" [class.active]="activeDaySelection === i" *ngFor="let item of days; let i = index"> {{ item }} </li>
</ul> -->